@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* https://10015.io/tools/css-background-pattern-generator */
.background{
    min-width: 100vw;
    background-image: radial-gradient(#586777 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 18px 18px;
    background-color: #b1d2ff;
    font-family: 'Poppins', sans-serif; 
}

/* https://10015.io/tools/css-loader-generator */
.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    animation: spinner-plncf9 4s infinite;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: #474bff #474bff #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1s infinite linear;
 }
 
 .spinner::after {
    border-color: #0000 #0000 #dbdcef #dbdcef;
    animation-direction: reverse;
 }
 
 @keyframes spinner-plncf9 {
    100% {
       transform: rotate(1turn);
    }
 }